<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<title> <%= title%></title>
</head>
<body>

  <div id="container">
    <h1 id="title">To Do Manager</h1>
    <!-- Sending data to the Server -->
    <form action="/create-task" method="POST">
        <div id="input-div">
          <!-- <p>Description</p> -->
          <input type="text" name="name" id="task-name" placeholder="What do you want to do?" required>
        </div>


        <div id="task-details">
          <div>
            <label for="category">Category:&nbsp </label>
            <input type="text" name="category" placeholder="Choose Category:" id="category-header" list="Category" required>  
            
            <datalist id="Category">
                <option value="School">
                <option value="Important">
                <option value="Work">
                <option value="Personal">
                <option value="Other">
            </datalist> 
          </div>

          <div>
            <label for="date">Date:</label>
            <input name="date" id="calender" data-date="" data-date-format="DD MMMM YYYY" value="2015-08-09" type="date" required >


          </div>
        </div>
        <div id="button">

          <button type="submit" id="submit"><i class="fas fa-plus"></i> Add Task</button>
          <button id="delete"><i class="far fa-trash-alt"></i> Delete Task</button>
          
        </div>
      </form>
      
      <div id="display">
      <!-- Table Displying Data to the  -->
          <table id="items-table">
            <% for(let val of Data){ %>
              <!-- <div > -->
                <tr class="items-div">
                  <td> <input type="checkbox"> </td>
                  <td class="task-name"> <span> <%= val.name %>  </span> </td>
                  <td class="date">  <span> <%= val.date.substring(8 )+ " " + month[parseInt(val.date.substring(5,7)) - 1] + ' ' + val.date.substring(0,4) %></span> </td>
                  <td > <p class="task-category <%= val.category %> "> <%= val.category %> </p> </td>
                  
                </tr>
            <% }%>
          </table>
        </div>


        <span id="db-length"><%= db_length %> Tasks left</p>
        </div>

        <script src="/js/script.js"></script>
      </body>
      </html>